<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            MuyPicky.com|
        {% endblock title %}
    </title>
    {% include 'snippets/css.html' %}
</head>
<body>

{% include 'snippets/nav.html' %}
<div class="container">
    {% block content %}{% endblock content %}
</div>
{% include 'snippets/js.html' %}
</body>
</html>