{% extends "base.html" %}

{% block title %}
    {{ block.super }}Contact
{% endblock title %}

{% block content %}
<h1>Contact</h1>
<a href="mailto:ala273@mail.usask.ca">Email Us</a>
{% endblock content %}