{% extends "base.html" %}

{% block title %}
    {{ block.super }}Home
{% endblock title %}

{% block content %}
{{ block.super }}

<h1>Hello {{html_var}}</h1>
{% if bool_item %}
<p>Random Number: {{ num }}</p>
{% endif %}

<h5>List of Even Numbers</h5>
{% for some_item in some_list %}
<ul>
    {% if some_item|divisibleby:"2" %}
    <li>{{ some_item }}</li>
    {% endif %}
</ul>
{% endfor %}
{% endblock content %}
