{% extends 'base.html' %}

{% block title %}
    Restaurants | {{block.super}}
{% endblock title %}

{% block content %}
<h1>Restaurant List</h1>

<ul>
    {% for obj in object_list %}
    <li>{{ obj }}</li>
    {% endfor %}
</ul>
{% endblock content %}
