{% extends 'base.html' %}

{% block title %}
    Restaurants | {{block.super}}
{% endblock title %}

{% block content %}
<h1>{{ object.title }} <small>{{ object.category }}</small></h1>
<p>{{ object.location }}</p>
<p>{{ object.timestamp }}, Updated {{ object.updated|timesince }}</p>
{% endblock content %}